* {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: white;
    font-weight: 400;
}
html {
    height: 100%;
}
body{
    background-color: #202124;
    height: 100%;
    min-height: 100%;
}

.material-symbols-outlined {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    display: inline-block;
}
.meet_body{
    width: 100%;
    padding: 10px 0px 70px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.meet_person-1{
    position: absolute;
    width: 65%;
    height: 85%;
    top: 0;
    left: 0;
    padding : 1%;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.meet_col-2{
    position: absolute;
    top: 0px; 
    right: 0px; 
    padding: 2%;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.meet_person-2{
    width: 45%;
    margin: 5px;
    height: 34%;
    background-color: #3c4043;
    border: 1px #3c4043;
    border-radius: 10px;
}
.meet_person-3{
    width: 60%;
    margin: 5px;
    height: 34%;
    border: 1px #3c4043;
    background-color: #3c4043;
    border-radius: 10px;
}
.meet_mute {
    width: 100%;
    height: 26px;
    align-self: flex-end;
}
.mute_btn{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 5px;
    right: 5px;
    background-color: #333739;
    border: 1px #333739;
    border-radius: 50%;
}
#btn-no-bg{
    background-color: transparent;
}
.mute_icon{
    font-size: 18px;
    position: absolute;
    right: 4px;
    top: 4px;
}
.green-circle{
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #0097a7;
    border-radius: 50%;
    border:2px solid #0097a7;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    align-self: center;
}
.side-circle{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #5c6bc0;
    border-radius: 50%;
    border:2px solid #5c6bc0;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    align-self: center;
}
.meet_tog-btn{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,0);
}
#check-label{
    display:inline-block;
    width: 100%;
    height: 100%;
}

input[type="checkbox"] {
    display: none;
   }
/* .red-round-btn input[type="checkbox"]:checked + label {
    background: #26ca299b;
   } */
#purple{
    background-color: #b22e5b;
    border:2px solid #b22e5b;
}
.meet_name_circle{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.window_img{
    width: 60px;
    height: 60px;
    border: transparent 1px;
    border-radius: 50%;
}
ul {
    list-style-type: none;
}
li {
    display:inline;
}
.meet_name{
    align-items: center;
    bottom: -0.5px;
    box-sizing: border-box;
    display: flex;
    padding: 8px 8px;
    position: absolute;
    width: 100%;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%), 0 0 2px rgb(0 0 0 / 30%);
}
#blank{
    padding: 0 0 0 20px;
}
.meet_hover-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    align-items: center;
    background-color: #3c4043;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 1px 3px 1px rgb(60 64 67 / 15%);
    width: 120px;
    height:  35px;
    display: none;
}
.meet_window{
    position: relative;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}
.meet_window:hover>.meet_hover-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.4;
}
.meet_hover-box:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.7;
}
.meet_hover-box:has(.hover-icon:hover){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.7;
}
.blank-for-green-circle{
    height: 20%;
}
.hover-icon{
    font-size: 25px;
} 
.red-round-btn {
    width: 40px;
    height: 40px;
    background-color: #d85140;
    border-radius: 50%;
    border:2px solid #d85140;
    text-align: center;
}
.hover-tip:before{
    font-size: 12px;
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #3d4043;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 4px 10px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    transform: translate(-25%,0);
}
.lo:before{
    position: absolute;
    bottom: 80%;
}
.hover-tip:hover:before{
    opacity: 1;
    visibility: visible;
}
.red-oval-btn {
    width: 50px;
    height: 40px;
    background-color: #d85140;
    border-radius: 25px;
    border:2px solid #d85140;
}
.grey-round-btn {
    width: 40px;
    height: 40px;
    background-color: #3d4043;
    border-radius: 50%;
    border:2px solid #3d4043;
}
.meet_footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 5px auto 5px;
}

.meet_side-bar-btn{
    width: 15%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-hover-dis {
    position:absolute; 
    left:50%; 
    bottom:60%; 
    transform: translate(-80%,0%); 
}
#bot-mid-1{
    transform: translate(0, -10%);
}
#meet_tog-icon{
    transform: translate(0, 20%);
}
#check:checked+#bot-mid-1 {
    background-color: #3d4043;
    border:2px solid #3d4043;
}
#meet_tog-icon::before{
    content: "mic_off";
}
#check:checked+#bot-mid-1>label>i::before {
    content: "mic";
}